{% style %}
  .custom-header {
    background: {{ section.settings.header_background_color }};
  }
  .header-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  nav {
    margin-left: auto;

    a{
      text-transform: uppercase;
    }
  }
  .main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }
{% endstyle %}

<header class="custom-header header-{{ section.settings.sticky_custom_header_type }}">
  <div class="header-container page-width">
    <div class="logo-container">
      <img
        src="{{ section.settings.header_logo | img_url: '37x37' }}"
        width="37"
        height="37"
        loading="lazy"
      >
      <p style="font-size: {{ section.settings.company_name_font_size }}px; font-weight: {{ section.settings.company_name_font_weight }};">
        {{ section.settings.header_company_name }}
      </p>
    </div>
    <nav class="main-nav">
      <a href="/">Shop</a>
      <a href="/contact">Contact</a>
      <a href="/for-partners">For Partners</a>
    </nav>
    <a href="/cart">cart</a>
  </div>
</header>

{% schema %}
{
  "name": "custom-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "text",
      "id": "header_company_name",
      "label": "Company Name"
    },
    {
      "type": "range",
      "id": "company_name_font_size",
      "label": "Company Name Font Size",
      "min": 12,
      "max": 32,
      "step": 2,
      "default": 24
    },
    {
      "type": "range",
      "id": "company_name_font_weight",
      "label": "Company Name Font Weight",
      "min": 300,
      "max": 900,
      "step": 100,
      "default": 600
    },
    {
      "type": "color",
      "id": "header_background_color",
      "label": "Header Background Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "sticky_custom_header_type",
      "label": "Header Type",
      "options": [
        {
          "value": "static",
          "label": "Static"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        }
      ],
      "default": "fixed"
    }
  ],
  "presets": [
    {
      "name": "custom-header",
      "category": "Header"
    }
  ]
}
{% endschema %}
